{"swagger": "2.0", "info": {"title": "PowerMeter API", "description": "API", "version": "2021.4.1"}, "host": "thracesystems.com", "schemes": ["https"], "basePath": "/api", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "apiKey", "in": "header", "name": "Authorization"}}, "security": [{"Basic": []}], "paths": {"/compute/power/": {"post": {"operationId": "compute_power", "description": "Computes equation(s)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"title": "ComputePower", "type": "object", "properties": {"undefined": {"type": "string"}}}}], "responses": {"200": {"description": "Computed value(s) returned"}, "400": {"description": "Error. Message returned"}, "500": {"description": "Internal error"}}, "tags": ["compute"]}, "parameters": []}, "/design/data/{uuid}/": {"post": {"operationId": "design_data_create", "description": "Upload design data", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"title": "Data", "type": "string"}}], "responses": {"200": {"description": "OK"}, "400": {"description": "Bad request"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "uuid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/": {"get": {"operationId": "design_read", "description": "Get design", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Design"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_update", "description": "Update design", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Design"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Design"}}, "400": {"description": "Issue with inut data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/commit/": {"post": {"operationId": "design_commit_create", "description": "Commit a version", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignVersion"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignVersion"}}, "400": {"description": "Issue with input data, erro message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/computepower/": {"post": {"operationId": "design_computepower_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "array", "items": {"$ref": "#/definitions/PinState"}}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "process", "in": "query", "required": true, "type": "string"}, {"name": "rc", "in": "query", "required": true, "type": "string"}, {"name": "voltage", "in": "query", "required": true, "type": "number"}, {"name": "temperature", "in": "query", "required": true, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"title": "ComputedPower", "required": ["supply", "energy", "leakage"], "type": "object", "properties": {"supply": {"type": "string"}, "energy": {"type": "number"}, "leakage": {"type": "number"}}}}}, "400": {"description": "Error. Message returned"}, "403": {"description": "Not authorized"}, "500": {"description": "Internal error"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/computepowerarc/": {"post": {"operationId": "design_computepowerarc_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "array", "items": {"$ref": "#/definitions/PinStateArc"}}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "process", "in": "query", "required": true, "type": "string"}, {"name": "rc", "in": "query", "required": true, "type": "string"}, {"name": "voltage", "in": "query", "required": true, "type": "number"}, {"name": "temperature", "in": "query", "required": true, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ComputedPowerArc"}}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/contribpower/": {"get": {"operationId": "design_contribpower_list", "description": "Get list of contributor powers", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ContribPower"}}}, "403": {"description": "Not authorized"}}, "tags": ["design"]}, "post": {"operationId": "design_contribpower_create", "description": "Create a new contributor power", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ContribPower"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ContribPower"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/contribpower/{powerid}/": {"get": {"operationId": "design_contribpower_read", "description": "Get a contributor power", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ContribPower"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_contribpower_update", "description": "Update a contributor power", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ContribPower"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ContribPower"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_contribpower_delete", "description": "Delete a contributor power", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "powerid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/contribpower/{powerid}/compute/": {"get": {"operationId": "design_contribpower_compute_list", "description": "Get device data", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}, {"name": "p", "in": "query", "description": "Process name", "required": true, "type": "string"}, {"name": "v", "in": "query", "description": "Voltage", "required": true, "type": "number"}, {"name": "t", "in": "query", "description": "Temperature", "required": true, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"title": "ComputedContributorPower", "type": "object", "properties": {"p": {"description": "Process name", "type": "string"}, "v": {"description": "Voltage", "type": "number"}, "t": {"description": "Temperature", "type": "integer"}, "current": {"description": "Drain current", "type": "number"}, "pin_current": {"type": "array", "items": {"title": "PinCurrent", "type": "object", "properties": {"name": {"type": "string"}, "current": {"type": "number"}}}}}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "powerid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/contribpower/{powerid}/compute1/": {"get": {"operationId": "design_contribpower_compute1_list", "description": "Get device data", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}, {"name": "p", "in": "query", "description": "Process name", "required": true, "type": "string"}, {"name": "v", "in": "query", "description": "Voltage", "required": true, "type": "number"}, {"name": "t", "in": "query", "description": "Temperature", "required": true, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"title": "ComputedContributorPower", "type": "object", "properties": {"p": {"description": "Process name", "type": "string"}, "v": {"description": "Voltage", "type": "number"}, "t": {"description": "Temperature", "type": "integer"}, "power": {"description": "Power", "type": "number"}}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "powerid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/dashboard/": {"get": {"operationId": "design_dashboard_list", "description": "Get a list of dashboards", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Dashboard"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_dashboard_create", "description": "Create a dashboards", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Dashboard"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Dashboard"}}, "400": {"description": "Bad request, error returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/dashboard/{dashboardid}/": {"get": {"operationId": "design_dashboard_read", "description": "Get a dashboard", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Dashboard"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_dashboard_update", "description": "Update a dashboards", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Dashboard"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Dashboard"}}, "400": {"description": "Bad request, error returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_dashboard_delete", "description": "Delete a dashboards", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "dashboardid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/dashboard/{dashboardid}/access/": {"post": {"operationId": "design_dashboard_access_create", "description": "Update design dashboard access", "parameters": [{"name": "projectid", "in": "path", "type": "integer", "required": true}, {"name": "masterdesignid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": ""}}, "tags": ["design"]}, "parameters": [{"name": "dashboardid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/dashboard/{dashboardid}/clone/": {"post": {"operationId": "design_dashboard_clone_create", "description": "Clone a dashboard", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Dashboard"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "dashboardid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/dashboard/{dashboardid}/column/": {"get": {"operationId": "design_dashboard_column_list", "description": "Get dashboard columns", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DashboardColumn"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_dashboard_column_create", "description": "Create a dashboard column", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DashboardColumn"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardColumn"}}, "400": {"description": "Bad request, error returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "dashboardid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/dashboard/{dashboardid}/column/{columnid}/": {"get": {"operationId": "design_dashboard_column_read", "description": "Get a dashboard column", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}, {"name": "columnid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardColumn"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_dashboard_column_update", "description": "Update a dashboard column", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DashboardColumn"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}, {"name": "columnid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardColumn"}}, "400": {"description": "Bad request, error returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_dashboard_column_delete", "description": "Delete a dashboard column", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DashboardColumn"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}, {"name": "columnid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardColumn"}}, "400": {"description": "Bad request, error returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "columnid", "in": "path", "required": true, "type": "string"}, {"name": "dashboardid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/dashboard/{dashboardid}/data/": {"get": {"operationId": "design_dashboard_data_list", "description": "Get a dashboard", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Dashboard"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "dashboardid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/dashboard/{dashboardid}/row/": {"get": {"operationId": "design_dashboard_row_list", "description": "Get dashboard rows", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DashboardRow"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_dashboard_row_create", "description": "Create a dashboard row", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DashboardRow"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardRow"}}, "400": {"description": "Bad request, error returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "dashboardid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/dashboard/{dashboardid}/row/{rowid}/": {"get": {"operationId": "design_dashboard_row_read", "description": "Get a dashboard row", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}, {"name": "rowid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardRow"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_dashboard_row_update", "description": "Update a dashboard row", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DashboardRow"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}, {"name": "rowid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardRow"}}, "400": {"description": "Bad request, error returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_dashboard_row_delete", "description": "Delete a dashboard column", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DashboardRow"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dashboardid", "in": "path", "type": "integer", "required": true}, {"name": "rowid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardRow"}}, "400": {"description": "Bad request, error returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "dashboardid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "rowid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/dashboard/{dashboardid}/update/": {"get": {"operationId": "design_dashboard_update_list", "description": "Returns an array of [current, last update] times", "parameters": [{"name": "dashboardid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"title": "UpdateData", "type": "object", "properties": {"current_time": {"type": "number"}, "update_time": {"type": "number"}}}}}, "tags": ["design"]}, "parameters": [{"name": "dashboardid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/data/": {"get": {"operationId": "design_data_list", "description": "Get design data", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "fields", "in": "query", "type": "string"}, {"name": "filter", "in": "query", "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignData"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/data/{dataid}/": {"get": {"operationId": "design_data_read", "description": "Get design data", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dataid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignData"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_data_update", "description": "Update design data", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignData"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dataid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignData"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_data_delete", "description": "Delete design data", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "dataid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "dataid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/energy/": {"get": {"operationId": "design_energy_list", "description": "Get list of all pin powers", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "page", "in": "query", "type": "integer"}, {"name": "number", "in": "query", "type": "integer"}, {"name": "process", "in": "query", "description": "Model corner name", "type": "string"}, {"name": "rc", "in": "query", "description": "RC corner name", "type": "string"}, {"name": "voltage", "in": "query", "description": "Voltage", "type": "number"}, {"name": "temperature", "in": "query", "description": "Temperature", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PagedDesignPinEnergy"}}, "403": {"description": "Not authorized"}}, "tags": ["design"]}, "post": {"operationId": "design_energy_create", "description": "Add pin powers", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignPinEnergy"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignPinEnergy"}}}, "403": {"description": "Not authorized"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/ff/": {"get": {"operationId": "design_ff_list", "description": "Get list of ffs", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignFF"}}}, "403": {"description": "Not authorized"}}, "tags": ["design"]}, "post": {"operationId": "design_ff_create", "description": "Create a new ff", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFF"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFF"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/ff/{ffid}/": {"get": {"operationId": "design_ff_read", "description": "Get a ff", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "ffid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignFF"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_ff_update", "description": "Update a ff", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFF"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "ffid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFF"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_ff_delete", "description": "Delete a ff", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "ffid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "ffid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/hierarchy/": {"get": {"operationId": "design_hierarchy_list", "description": "Get hierarchy", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Hier"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_hierarchy_update", "description": "Update hierarchy", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Hier"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Hier"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/hierarchy/group/": {"post": {"operationId": "design_hierarchy_group_create", "description": "Create new hierarchy group", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Hier"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Hier"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "api_design_hierarchy_delete_all", "description": "Delete hierarchy groups", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/hierarchy/group/{groupid}/": {"put": {"operationId": "design_hierarchy_group_update", "description": "Update hierarchy group", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Hier"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "groupid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Hier"}}, "400": {"description": "Issue with input data, error messag ereturned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_hierarchy_group_delete", "description": "Delete a hierarchy group", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "groupid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "groupid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/instance/": {"get": {"operationId": "design_instance_list", "description": "Get list of instances", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "page", "in": "query", "type": "integer"}, {"name": "number", "in": "query", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PagedInstance"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_instance_create", "description": "Create a new instance", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Instance"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Instance"}}, "400": {"description": "Issue with inout data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "api_design_instance_delete_all", "description": "Delete all instances", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/instance/bulk/": {"post": {"operationId": "design_instance_bulk_create", "description": "Create a new instance", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "array", "items": {"$ref": "#/definitions/Instance"}}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "return", "in": "query", "type": "boolean", "default": false}], "responses": {"201": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Instance"}}}, "400": {"description": "Issue with inout data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/instance/{instanceid}/": {"get": {"operationId": "design_instance_read", "description": "Get a design", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "instanceid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Instance"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_instance_update", "description": "Update instance", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Instance"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "instanceid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Instance"}}, "400": {"description": "Issue with inut data"}, "403": {"description": "Not authoried"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_instance_delete", "description": "Delete instance", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "instanceid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "instanceid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/instance/{instanceid}/clone/": {"post": {"operationId": "design_instance_clone", "description": "Clone an instance", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "instanceid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Instance"}}, "403": {"description": "not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "instanceid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/instance/{instanceid}/supply/": {"get": {"operationId": "design_instance_supply_list", "description": "Get instance supplies", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "instanceid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/InstanceSupply"}}}, "403": {"description": "Not auhtorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_instance_supply_create", "description": "Update instance supplies", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/InstanceSupply"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "instanceid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/InstanceSupply"}}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "instanceid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/instance/{instanceid}/supply/{supplyid}/": {"get": {"operationId": "design_instance_supply_read", "description": "Get an instance supply", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "instanceid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/InstanceSupply"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_instance_supply_update", "description": "Update an instance supply", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/InstanceSupply"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "instanceid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/InstanceSupply"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "instanceid", "in": "path", "required": true, "type": "string"}, {"name": "supplyid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/instance/{instanceid}/updatemaster/{masterid}/": {"post": {"operationId": "design_instance_updatemaster_create", "description": "Update instance master", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "instanceid", "in": "path", "type": "integer", "required": true}, {"name": "masterid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Instance"}}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "instanceid", "in": "path", "required": true, "type": "string"}, {"name": "masterid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/instantiable/": {"get": {"operationId": "design_instantiable_list", "description": "Get list of designs that can be instantiated in the given design", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignMaster"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/latch/": {"get": {"operationId": "design_latch_list", "description": "Get list of latches", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignLatch"}}}, "403": {"description": "Not authorized"}}, "tags": ["design"]}, "post": {"operationId": "design_latch_create", "description": "Create a new latch", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignLatch"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignLatch"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/latch/{latchid}/": {"get": {"operationId": "design_latch_read", "description": "Get a latch", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "latchid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignLatch"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_latch_update", "description": "Update a latch", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignLatch"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "latchid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignLatch"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_latch_delete", "description": "Delete a latch", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "latchid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "latchid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/leakagepower/": {"get": {"operationId": "design_leakagepower_list", "description": "Get list of leakage powers", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "page", "in": "query", "type": "integer"}, {"name": "number", "in": "query", "type": "integer"}, {"name": "process", "in": "query", "description": "Model corner name", "type": "string"}, {"name": "rc", "in": "query", "description": "RC corner name", "type": "string"}, {"name": "voltage", "in": "query", "description": "Voltage", "type": "number"}, {"name": "temperature", "in": "query", "description": "Temperature", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PagedLeakagePower"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_leakagepower_create", "description": "Create a new leakage power", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LeakagePower"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/LeakagePower"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/leakagepower/{powerid}/": {"get": {"operationId": "design_leakagepower_read", "description": "Get a parameter", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LeakagePower"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_leakagepower_update", "description": "Update a parameter", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LeakagePower"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/LeakagePower"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_leakagepower_delete", "description": "Delete a parameter", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "powerid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/mode/": {"get": {"operationId": "design_mode_list", "description": "Get list of design modes", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Mode"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_mode_create", "description": "Create a new mode", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Mode"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Mode"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "api_design_mode_delete_all", "description": "Delete design modes", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/mode/{modeid}/": {"get": {"operationId": "design_mode_read", "description": "Get a design mode", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Mode"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_mode_update", "description": "Update a design mode", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Mode"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Mode"}}, "400": {"description": "Issue with inut data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_mode_delete", "description": "Delete a design mode", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "modeid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/mode/{modeid}/clone/": {"post": {"operationId": "design_mode_clone", "description": "Clone a design mode", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Mode"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "modeid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/mode/{modeid}/power/": {"get": {"operationId": "design_mode_power_list", "description": "", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": ""}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "modeid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/mode/{modeid}/powerdistribution/": {"get": {"operationId": "design_mode_powerdistribution_list", "description": "", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": ""}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "modeid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/mode/{modeid}/supply/{supplyid}/computepower/": {"post": {"operationId": "design_mode_supply_computepower_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"title": "ComputePower", "required": ["params", "config"], "type": "object", "properties": {"waveform": {"type": "array", "items": {"title": "ComputePowerWaveform", "type": "object", "properties": {"time": {"type": "string"}, "power": {"type": "string"}}}}, "equation": {"type": "string"}, "params": {"type": "object"}, "config": {"title": "ComputePowerConfig", "type": "object", "properties": {"source_scaling": {"type": "string"}, "tech_scaling": {"type": "boolean"}}}}}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Computed value(s) returned"}, "400": {"description": "Error. Message returned"}, "500": {"description": "Internal error"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "modeid", "in": "path", "required": true, "type": "string"}, {"name": "supplyid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/mode/{modeid}/supply/{supplyid}/computepowertable/": {"post": {"operationId": "design_mode_supply_computepowertable_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"title": "ComputePower", "type": "object", "properties": {"undefined": {"type": "string"}}}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Computed value(s) returned"}, "400": {"description": "Error. Message returned"}, "500": {"description": "Internal error"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "modeid", "in": "path", "required": true, "type": "string"}, {"name": "supplyid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/mode/{modeid}/supplystate/": {"get": {"operationId": "design_mode_supplystate_list", "description": "Get list of supply states per mode", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupplyModeState"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_mode_supplystate_update", "description": "Update a supply state per mode", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SupplyModeState"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SupplyModeState"}}}, "400": {"description": "Issue with inut data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not allowed"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "modeid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/parameter/": {"get": {"operationId": "design_parameter_list", "description": "Get list of params", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Param"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_parameter_create", "description": "Create a new parameter", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Param"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Param"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "api_design_parameter_delete_all", "description": "Delete params", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/parameter/{paramid}/": {"get": {"operationId": "design_parameter_read", "description": "Get a parameter", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "paramid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Param"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_parameter_update", "description": "Update a parameter", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Param"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "paramid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Param"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_parameter_delete", "description": "Delete a parameter", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "paramid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "paramid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/parameter/{paramid}/clone/": {"post": {"operationId": "design_parameter_clone", "description": "Clode a mode param", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "paramid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Param"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "paramid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/permissions/": {"get": {"operationId": "design_permissions_list", "description": "Get list of permissions", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": ""}}, "tags": ["design"]}, "put": {"operationId": "design_permissions_update", "description": "Get list of permissions", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": ""}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/pin/": {"get": {"operationId": "design_pin_list", "description": "Get list of pins", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignPin"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_pin_create", "description": "Create a new pin", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignPin"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignPin"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/pin/{pinid}/": {"get": {"operationId": "design_pin_read", "description": "Get a pin", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignPin"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_pin_update", "description": "Update a pin", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignPin"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignPin"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_pin_delete", "description": "Delete a pin", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "pinid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/pin/{pinid}/caps/": {"get": {"operationId": "design_pin_caps_list", "description": "Get list of pin caps", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}, {"name": "process", "in": "query", "description": "Model corner name", "type": "string"}, {"name": "rc", "in": "query", "description": "RC corner name", "type": "string"}, {"name": "voltage", "in": "query", "description": "Voltage", "type": "number"}, {"name": "temperature", "in": "query", "description": "Temperature", "type": "number"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/PinCap"}}}, "403": {"description": "Not authorized"}}, "tags": ["design"]}, "post": {"operationId": "design_pin_caps_create", "description": "Create a new pin cap", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PinCap"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PinCap"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "pinid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/pin/{pinid}/caps/{capid}/": {"get": {"operationId": "design_pin_caps_read", "description": "Get a pin cap", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}, {"name": "capid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PinCap"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_pin_caps_update", "description": "Update a pin power", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PinCap"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}, {"name": "capid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PinCap"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_pin_caps_delete", "description": "Delete a pin cap", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}, {"name": "capid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "capid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "pinid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/pin/{pinid}/energy/": {"get": {"operationId": "design_pin_energy_list", "description": "Get list of pin powers", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}, {"name": "process", "in": "query", "description": "Model corner name", "type": "string"}, {"name": "rc", "in": "query", "description": "RC corner name", "type": "string"}, {"name": "voltage", "in": "query", "description": "Voltage", "type": "number"}, {"name": "temperature", "in": "query", "description": "Temperature", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/PinEnergy"}}}, "403": {"description": "Not authorized"}}, "tags": ["design"]}, "post": {"operationId": "design_pin_energy_create", "description": "Create a new pin power", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PinEnergy"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PinEnergy"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "pinid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/pin/{pinid}/energy/{powerid}/": {"get": {"operationId": "design_pin_energy_read", "description": "Get a pin power", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PinEnergy"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_pin_energy_update", "description": "Update a pin power", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PinEnergy"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PinEnergy"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_pin_energy_delete", "description": "Delete a pin power", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "pinid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "pinid", "in": "path", "required": true, "type": "string"}, {"name": "powerid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/power/": {"get": {"operationId": "design_power_list", "description": "Get list of powers", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Power"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_power_create", "description": "Create a power", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Power"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Power"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/power/{powerid}/": {"get": {"operationId": "design_power_read", "description": "Get a power", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Power"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_power_update", "description": "Update a power", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Power"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Power"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_power_delete", "description": "Delete a power", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "powerid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "powerid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/restore/": {"post": {"operationId": "design_restore_create", "description": "Restore a design version as current version", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Design"}}, "400": {"description": "Issue with inut data, error mesage returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/": {"get": {"operationId": "design_scenario_list", "description": "Get list of scenarios", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignScenario"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_scenario_create", "description": "Create a scenario", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignScenario"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/": {"get": {"operationId": "design_scenario_read", "description": "Get a scenario", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignScenario"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_scenario_update", "description": "Update a scenario", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignScenario"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignScenario"}}, "400": {"description": "Issue with input data, erro message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_scenario_delete", "description": "Delete a scenario", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/clone/": {"post": {"operationId": "design_scenario_clone", "description": "Clone a design scenario", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignScenario"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/mode/{modeid}/": {"get": {"operationId": "design_scenario_mode_read", "description": "Get list of scenario modes", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignScenarioModeUtil"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_scenario_mode_create", "description": "Create a scenario mode util", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioModeUtil"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "modeid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/mode/{modeid}/config/{configid}/": {"get": {"operationId": "design_scenario_mode_config_read", "description": "Get datasheet mode", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}, {"name": "configid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioModeUtil"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_scenario_mode_config_update", "description": "Update a datasheet mode util", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}, {"name": "configid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioModeUtil"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_scenario_mode_config_delete", "description": "Delete a datasheet mode util", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}, {"name": "configid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioModeUtil"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "configid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "modeid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/param/{paramid}/": {"get": {"operationId": "design_scenario_param_read", "description": "Get list of scenario configs", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "paramid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignScenarioConfig"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_scenario_param_create", "description": "Create a scenario config", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "paramid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioConfig"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "paramid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/param/{paramid}/config/{configid}/": {"get": {"operationId": "design_scenario_param_config_read", "description": "Getscenario configs", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "paramid", "in": "path", "type": "integer", "required": true}, {"name": "configid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioConfig"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_scenario_param_config_update", "description": "Update a scenario config", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "paramid", "in": "path", "type": "integer", "required": true}, {"name": "confgiid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioConfig"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_scenario_param_config_delete", "description": "Delete a scenario config", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "paramid", "in": "path", "type": "integer", "required": true}, {"name": "confgiid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioConfig"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "configid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "paramid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/power/": {"get": {"operationId": "design_scenario_power_list", "description": "Get power of design scenario", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": ""}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/powerdistribution/": {"get": {"operationId": "design_scenario_powerdistribution_list", "description": "Get power distribution of a design scenario", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": ""}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/supply/{supplyid}/": {"get": {"operationId": "design_scenario_supply_read", "description": "Get list of scenario supplies", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignScenarioSupply"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_scenario_supply_create", "description": "Create a scenario config", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioSupply"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}, {"name": "supplyid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/supply/{supplyid}/config/{configid}/": {"get": {"operationId": "design_scenario_supply_config_read", "description": "Get list of scenario supplies", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}, {"name": "configid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioSupply"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_scenario_supply_config_update", "description": "Update a scenario config", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}, {"name": "configid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioSupply"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_scenario_supply_config_delete", "description": "Delete a scenario config", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}, {"name": "configid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignScenarioSupply"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "configid", "in": "path", "required": true, "type": "string"}, {"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}, {"name": "supplyid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/trend/": {"get": {"operationId": "design_scenario_trend_list", "description": "Get a scenario power trend", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Data"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/scenario/{scenarioid}/update/": {"get": {"operationId": "design_scenario_update_list", "description": "Returns an array of [current, last update] times", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "scenarioid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"type": "number"}}}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "scenarioid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/sensor/": {"get": {"operationId": "design_sensor_list", "description": "Get list of sensors", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignSensor"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_sensor_create", "description": "Create a new sensor", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignSensor"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignSensor"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/sensor/{sensorid}/": {"get": {"operationId": "design_sensor_read", "description": "Get a sensor", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "sensorid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignSensor"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_sensor_update", "description": "Update a sensor", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignSensor"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "sensorid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignSensor"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_sensor_delete", "description": "Delete a sensor", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "sensorid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "sensorid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/sensor/{sensorid}/clone/": {"post": {"operationId": "design_sensor_clone", "description": "Clode a sensor", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "sensorid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignSensor"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "sensorid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/statetable/": {"get": {"operationId": "design_statetable_list", "description": "Get list of statetables", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignStateTable"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_statetable_create", "description": "Create a new ff", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignStateTable"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignStateTable"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/statetable/{statetableid}/": {"get": {"operationId": "design_statetable_read", "description": "Get a statetable", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "statetableid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignStateTable"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_statetable_update", "description": "Update a ff", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignStateTable"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "statetableid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignStateTable"}}, "400": {"description": "Issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_statetable_delete", "description": "Delete a ff", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "statetableid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "statetableid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/supply/": {"get": {"operationId": "design_supply_list", "description": "Get a list of supplies", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "name", "in": "query", "description": "Design name", "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Supply"}}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "post": {"operationId": "design_supply_create", "description": "Create a supply", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Supply"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Supply"}}, "400": {"description": "Issue with input data"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "api_design_supply_delete_all", "description": "Delete supplies", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/supply/{supplyid}/": {"get": {"operationId": "design_supply_read", "description": "Get a supply", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Supply"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_supply_update", "description": "Update a supply", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Supply"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Supply"}}, "400": {"description": "issue with input data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "delete": {"operationId": "design_supply_delete", "description": "Delete a supply", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "Deleted"}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "supplyid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/supply/{supplyid}/clone/": {"post": {"operationId": "design_supply_clone", "description": "Clode a mode param", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Supply"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "supplyid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/supply/{supplyid}/modestate/": {"get": {"operationId": "design_supply_modestate_list", "description": "Get list of supply states per mode", "parameters": [{"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupplyModeState"}}, "403": {"description": "Not authorized"}, "404": {"description": "Not found"}}, "tags": ["design"]}, "put": {"operationId": "design_supply_modestate_update", "description": "Update a supply state per mode", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SupplyModeState"}}, {"name": "designid", "in": "path", "type": "integer", "required": true}, {"name": "supplyid", "in": "path", "type": "integer", "required": true}, {"name": "modeid", "in": "path", "type": "integer", "required": true}], "responses": {"201": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SupplyModeState"}}}, "400": {"description": "Issue with inut data, error message returned"}, "403": {"description": "Not authorized"}, "404": {"description": "Not allowed"}}, "tags": ["design"]}, "parameters": [{"name": "designid", "in": "path", "required": true, "type": "string"}, {"name": "supplyid", "in": "path", "required": true, "type": "string"}]}, "/design/{designid}/supplymodestate/": {"get": {"operationId": "design_supplymodestate_list", "description": "Get list of supply states per mode", "parameters": [{"name": "designid", "in
[...]
