/*
 * PowerMeter API
 * API
 *
 * The version of the OpenAPI document: 2021.4.1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.math.BigDecimal;
import org.openapitools.client.model.ComputePower1;
import org.openapitools.client.model.ComputePower2;
import org.openapitools.client.model.ComputedContributorPower;
import org.openapitools.client.model.ComputedContributorPower1;
import org.openapitools.client.model.ComputedPower;
import org.openapitools.client.model.ComputedPowerArc;
import org.openapitools.client.model.ContribPower;
import org.openapitools.client.model.Dashboard;
import org.openapitools.client.model.DashboardColumn;
import org.openapitools.client.model.DashboardRow;
import org.openapitools.client.model.Design;
import org.openapitools.client.model.DesignData;
import org.openapitools.client.model.DesignFF;
import org.openapitools.client.model.DesignLatch;
import org.openapitools.client.model.DesignMaster;
import org.openapitools.client.model.DesignPin;
import org.openapitools.client.model.DesignPinEnergy;
import org.openapitools.client.model.DesignScenario;
import org.openapitools.client.model.DesignScenarioConfig;
import org.openapitools.client.model.DesignScenarioModeUtil;
import org.openapitools.client.model.DesignScenarioSupply;
import org.openapitools.client.model.DesignSensor;
import org.openapitools.client.model.DesignStateTable;
import org.openapitools.client.model.DesignTrend;
import org.openapitools.client.model.DesignVersion;
import org.openapitools.client.model.Hier;
import org.openapitools.client.model.Instance;
import org.openapitools.client.model.InstanceSupply;
import org.openapitools.client.model.LeakagePower;
import org.openapitools.client.model.Mode;
import org.openapitools.client.model.PagedDesignPinEnergy;
import org.openapitools.client.model.PagedInstance;
import org.openapitools.client.model.PagedLeakagePower;
import org.openapitools.client.model.Param;
import org.openapitools.client.model.PinCap;
import org.openapitools.client.model.PinEnergy;
import org.openapitools.client.model.PinState;
import org.openapitools.client.model.PinStateArc;
import org.openapitools.client.model.Power;
import org.openapitools.client.model.Supply;
import org.openapitools.client.model.SupplyModeState;
import org.openapitools.client.model.UpdateData;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DesignApi {
    private ApiClient localVarApiClient;

    public DesignApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DesignApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for apiDesignHierarchyDeleteAll
     * @param designid  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiDesignHierarchyDeleteAllCall(Integer designid, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/design/{designid}/hierarchy/group/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiDesignHierarchyDeleteAllValidateBeforeCall(Integer designid, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling apiDesignHierarchyDeleteAll(Async)");
        }
        

        okhttp3.Call localVarCall = apiDesignHierarchyDeleteAllCall(designid, _callback);
        return localVarCall;

    }

    /**
     * 
     * Delete hierarchy groups
     * @param designid  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public void apiDesignHierarchyDeleteAll(Integer designid) throws ApiException {
        apiDesignHierarchyDeleteAllWithHttpInfo(designid);
    }

    /**
     * 
     * Delete hierarchy groups
     * @param designid  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> apiDesignHierarchyDeleteAllWithHttpInfo(Integer designid) throws ApiException {
        okhttp3.Call localVarCall = apiDesignHierarchyDeleteAllValidateBeforeCall(designid, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     *  (asynchronously)
     * Delete hierarchy groups
     * @param designid  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiDesignHierarchyDeleteAllAsync(Integer designid, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiDesignHierarchyDeleteAllValidateBeforeCall(designid, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiDesignInstanceDeleteAll
     * @param designid  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiDesignInstanceDeleteAllCall(Integer designid, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/design/{designid}/instance/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiDesignInstanceDeleteAllValidateBeforeCall(Integer designid, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling apiDesignInstanceDeleteAll(Async)");
        }
        

        okhttp3.Call localVarCall = apiDesignInstanceDeleteAllCall(designid, _callback);
        return localVarCall;

    }

    /**
     * 
     * Delete all instances
     * @param designid  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public void apiDesignInstanceDeleteAll(Integer designid) throws ApiException {
        apiDesignInstanceDeleteAllWithHttpInfo(designid);
    }

    /**
     * 
     * Delete all instances
     * @param designid  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> apiDesignInstanceDeleteAllWithHttpInfo(Integer designid) throws ApiException {
        okhttp3.Call localVarCall = apiDesignInstanceDeleteAllValidateBeforeCall(designid, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     *  (asynchronously)
     * Delete all instances
     * @param designid  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiDesignInstanceDeleteAllAsync(Integer designid, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiDesignInstanceDeleteAllValidateBeforeCall(designid, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiDesignModeDeleteAll
     * @param designid  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiDesignModeDeleteAllCall(Integer designid, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/design/{designid}/mode/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiDesignModeDeleteAllValidateBeforeCall(Integer designid, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling apiDesignModeDeleteAll(Async)");
        }
        

        okhttp3.Call localVarCall = apiDesignModeDeleteAllCall(designid, _callback);
        return localVarCall;

    }

    /**
     * 
     * Delete design modes
     * @param designid  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public void apiDesignModeDeleteAll(Integer designid) throws ApiException {
        apiDesignModeDeleteAllWithHttpInfo(designid);
    }

    /**
     * 
     * Delete design modes
     * @param designid  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> apiDesignModeDeleteAllWithHttpInfo(Integer designid) throws ApiException {
        okhttp3.Call localVarCall = apiDesignModeDeleteAllValidateBeforeCall(designid, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     *  (asynchronously)
     * Delete design modes
     * @param designid  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiDesignModeDeleteAllAsync(Integer designid, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiDesignModeDeleteAllValidateBeforeCall(designid, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiDesignParameterDeleteAll
     * @param designid  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiDesignParameterDeleteAllCall(Integer designid, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/design/{designid}/parameter/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiDesignParameterDeleteAllValidateBeforeCall(Integer designid, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling apiDesignParameterDeleteAll(Async)");
        }
        

        okhttp3.Call localVarCall = apiDesignParameterDeleteAllCall(designid, _callback);
        return localVarCall;

    }

    /**
     * 
     * Delete params
     * @param designid  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public void apiDesignParameterDeleteAll(Integer designid) throws ApiException {
        apiDesignParameterDeleteAllWithHttpInfo(designid);
    }

    /**
     * 
     * Delete params
     * @param designid  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> apiDesignParameterDeleteAllWithHttpInfo(Integer designid) throws ApiException {
        okhttp3.Call localVarCall = apiDesignParameterDeleteAllValidateBeforeCall(designid, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     *  (asynchronously)
     * Delete params
     * @param designid  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiDesignParameterDeleteAllAsync(Integer designid, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiDesignParameterDeleteAllValidateBeforeCall(designid, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiDesignSupplyDeleteAll
     * @param designid  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiDesignSupplyDeleteAllCall(Integer designid, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/design/{designid}/supply/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiDesignSupplyDeleteAllValidateBeforeCall(Integer designid, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling apiDesignSupplyDeleteAll(Async)");
        }
        

        okhttp3.Call localVarCall = apiDesignSupplyDeleteAllCall(designid, _callback);
        return localVarCall;

    }

    /**
     * 
     * Delete supplies
     * @param designid  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public void apiDesignSupplyDeleteAll(Integer designid) throws ApiException {
        apiDesignSupplyDeleteAllWithHttpInfo(designid);
    }

    /**
     * 
     * Delete supplies
     * @param designid  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> apiDesignSupplyDeleteAllWithHttpInfo(Integer designid) throws ApiException {
        okhttp3.Call localVarCall = apiDesignSupplyDeleteAllValidateBeforeCall(designid, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     *  (asynchronously)
     * Delete supplies
     * @param designid  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiDesignSupplyDeleteAllAsync(Integer designid, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiDesignSupplyDeleteAllValidateBeforeCall(designid, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for designCommitCreate
     * @param designid  (required)
     * @param data  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Issue with input data, erro message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designCommitCreateCall(Integer designid, DesignVersion data, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = data;

        // create path and map variables
        String localVarPath = "/design/{designid}/commit/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call designCommitCreateValidateBeforeCall(Integer designid, DesignVersion data, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling designCommitCreate(Async)");
        }
        
        // verify the required parameter 'data' is set
        if (data == null) {
            throw new ApiException("Missing the required parameter 'data' when calling designCommitCreate(Async)");
        }
        

        okhttp3.Call localVarCall = designCommitCreateCall(designid, data, _callback);
        return localVarCall;

    }

    /**
     * 
     * Commit a version
     * @param designid  (required)
     * @param data  (required)
     * @return DesignVersion
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Issue with input data, erro message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public DesignVersion designCommitCreate(Integer designid, DesignVersion data) throws ApiException {
        ApiResponse<DesignVersion> localVarResp = designCommitCreateWithHttpInfo(designid, data);
        return localVarResp.getData();
    }

    /**
     * 
     * Commit a version
     * @param designid  (required)
     * @param data  (required)
     * @return ApiResponse&lt;DesignVersion&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Issue with input data, erro message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<DesignVersion> designCommitCreateWithHttpInfo(Integer designid, DesignVersion data) throws ApiException {
        okhttp3.Call localVarCall = designCommitCreateValidateBeforeCall(designid, data, null);
        Type localVarReturnType = new TypeToken<DesignVersion>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Commit a version
     * @param designid  (required)
     * @param data  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Issue with input data, erro message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designCommitCreateAsync(Integer designid, DesignVersion data, final ApiCallback<DesignVersion> _callback) throws ApiException {

        okhttp3.Call localVarCall = designCommitCreateValidateBeforeCall(designid, data, _callback);
        Type localVarReturnType = new TypeToken<DesignVersion>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for designComputepowerCreate
     * @param designid  (required)
     * @param process  (required)
     * @param rc  (required)
     * @param voltage  (required)
     * @param temperature  (required)
     * @param data  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error. Message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designComputepowerCreateCall(Integer designid, String process, String rc, BigDecimal voltage, Integer temperature, List<PinState> data, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = data;

        // create path and map variables
        String localVarPath = "/design/{designid}/computepower/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (process != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("process", process));
        }

        if (rc != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("rc", rc));
        }

        if (voltage != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("voltage", voltage));
        }

        if (temperature != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("temperature", temperature));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call designComputepowerCreateValidateBeforeCall(Integer designid, String process, String rc, BigDecimal voltage, Integer temperature, List<PinState> data, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling designComputepowerCreate(Async)");
        }
        
        // verify the required parameter 'process' is set
        if (process == null) {
            throw new ApiException("Missing the required parameter 'process' when calling designComputepowerCreate(Async)");
        }
        
        // verify the required parameter 'rc' is set
        if (rc == null) {
            throw new ApiException("Missing the required parameter 'rc' when calling designComputepowerCreate(Async)");
        }
        
        // verify the required parameter 'voltage' is set
        if (voltage == null) {
            throw new ApiException("Missing the required parameter 'voltage' when calling designComputepowerCreate(Async)");
        }
        
        // verify the required parameter 'temperature' is set
        if (temperature == null) {
            throw new ApiException("Missing the required parameter 'temperature' when calling designComputepowerCreate(Async)");
        }
        
        // verify the required parameter 'data' is set
        if (data == null) {
            throw new ApiException("Missing the required parameter 'data' when calling designComputepowerCreate(Async)");
        }
        

        okhttp3.Call localVarCall = designComputepowerCreateCall(designid, process, rc, voltage, temperature, data, _callback);
        return localVarCall;

    }

    /**
     * 
     * 
     * @param designid  (required)
     * @param process  (required)
     * @param rc  (required)
     * @param voltage  (required)
     * @param temperature  (required)
     * @param data  (required)
     * @return List&lt;ComputedPower&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error. Message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal error </td><td>  -  </td></tr>
     </table>
     */
    public List<ComputedPower> designComputepowerCreate(Integer designid, String process, String rc, BigDecimal voltage, Integer temperature, List<PinState> data) throws ApiException {
        ApiResponse<List<ComputedPower>> localVarResp = designComputepowerCreateWithHttpInfo(designid, process, rc, voltage, temperature, data);
        return localVarResp.getData();
    }

    /**
     * 
     * 
     * @param designid  (required)
     * @param process  (required)
     * @param rc  (required)
     * @param voltage  (required)
     * @param temperature  (required)
     * @param data  (required)
     * @return ApiResponse&lt;List&lt;ComputedPower&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error. Message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<ComputedPower>> designComputepowerCreateWithHttpInfo(Integer designid, String process, String rc, BigDecimal voltage, Integer temperature, List<PinState> data) throws ApiException {
        okhttp3.Call localVarCall = designComputepowerCreateValidateBeforeCall(designid, process, rc, voltage, temperature, data, null);
        Type localVarReturnType = new TypeToken<List<ComputedPower>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param designid  (required)
     * @param process  (required)
     * @param rc  (required)
     * @param voltage  (required)
     * @param temperature  (required)
     * @param data  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error. Message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designComputepowerCreateAsync(Integer designid, String process, String rc, BigDecimal voltage, Integer temperature, List<PinState> data, final ApiCallback<List<ComputedPower>> _callback) throws ApiException {

        okhttp3.Call localVarCall = designComputepowerCreateValidateBeforeCall(designid, process, rc, voltage, temperature, data, _callback);
        Type localVarReturnType = new TypeToken<List<ComputedPower>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for designComputepowerarcCreate
     * @param designid  (required)
     * @param process  (required)
     * @param rc  (required)
     * @param voltage  (required)
     * @param temperature  (required)
     * @param data  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designComputepowerarcCreateCall(Integer designid, String process, String rc, BigDecimal voltage, Integer temperature, List<PinStateArc> data, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = data;

        // create path and map variables
        String localVarPath = "/design/{designid}/computepowerarc/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (process != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("process", process));
        }

        if (rc != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("rc", rc));
        }

        if (voltage != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("voltage", voltage));
        }

        if (temperature != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("temperature", temperature));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call designComputepowerarcCreateValidateBeforeCall(Integer designid, String process, String rc, BigDecimal voltage, Integer temperature, List<PinStateArc> data, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling designComputepowerarcCreate(Async)");
        }
        
        // verify the required parameter 'process' is set
        if (process == null) {
            throw new ApiException("Missing the required parameter 'process' when calling designComputepowerarcCreate(Async)");
        }
        
        // verify the required parameter 'rc' is set
        if (rc == null) {
            throw new ApiException("Missing the required parameter 'rc' when calling designComputepowerarcCreate(Async)");
        }
        
        // verify the required parameter 'voltage' is set
        if (voltage == null) {
            throw new ApiException("Missing the required parameter 'voltage' when calling designComputepowerarcCreate(Async)");
        }
        
        // verify the required parameter 'temperature' is set
        if (temperature == null) {
            throw new ApiException("Missing the required parameter 'temperature' when calling designComputepowerarcCreate(Async)");
        }
        
        // verify the required parameter 'data' is set
        if (data == null) {
            throw new ApiException("Missing the required parameter 'data' when calling designComputepowerarcCreate(Async)");
        }
        

        okhttp3.Call localVarCall = designComputepowerarcCreateCall(designid, process, rc, voltage, temperature, data, _callback);
        return localVarCall;

    }

    /**
     * 
     * 
     * @param designid  (required)
     * @param process  (required)
     * @param rc  (required)
     * @param voltage  (required)
     * @param temperature  (required)
     * @param data  (required)
     * @return ComputedPowerArc
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ComputedPowerArc designComputepowerarcCreate(Integer designid, String process, String rc, BigDecimal voltage, Integer temperature, List<PinStateArc> data) throws ApiException {
        ApiResponse<ComputedPowerArc> localVarResp = designComputepowerarcCreateWithHttpInfo(designid, process, rc, voltage, temperature, data);
        return localVarResp.getData();
    }

    /**
     * 
     * 
     * @param designid  (required)
     * @param process  (required)
     * @param rc  (required)
     * @param voltage  (required)
     * @param temperature  (required)
     * @param data  (required)
     * @return ApiResponse&lt;ComputedPowerArc&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ComputedPowerArc> designComputepowerarcCreateWithHttpInfo(Integer designid, String process, String rc, BigDecimal voltage, Integer temperature, List<PinStateArc> data) throws ApiException {
        okhttp3.Call localVarCall = designComputepowerarcCreateValidateBeforeCall(designid, process, rc, voltage, temperature, data, null);
        Type localVarReturnType = new TypeToken<ComputedPowerArc>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param designid  (required)
     * @param process  (required)
     * @param rc  (required)
     * @param voltage  (required)
     * @param temperature  (required)
     * @param data  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designComputepowerarcCreateAsync(Integer designid, String process, String rc, BigDecimal voltage, Integer temperature, List<PinStateArc> data, final ApiCallback<ComputedPowerArc> _callback) throws ApiException {

        okhttp3.Call localVarCall = designComputepowerarcCreateValidateBeforeCall(designid, process, rc, voltage, temperature, data, _callback);
        Type localVarReturnType = new TypeToken<ComputedPowerArc>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for designContribpowerCompute1List
     * @param designid  (required)
     * @param powerid  (required)
     * @param p Process name (required)
     * @param v Voltage (required)
     * @param t Temperature (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerCompute1ListCall(Integer designid, Integer powerid, String p, BigDecimal v, Integer t, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/design/{designid}/contribpower/{powerid}/compute1/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()))
            .replaceAll("\\{" + "powerid" + "\\}", localVarApiClient.escapeString(powerid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (p != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("p", p));
        }

        if (v != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("v", v));
        }

        if (t != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("t", t));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call designContribpowerCompute1ListValidateBeforeCall(Integer designid, Integer powerid, String p, BigDecimal v, Integer t, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling designContribpowerCompute1List(Async)");
        }
        
        // verify the required parameter 'powerid' is set
        if (powerid == null) {
            throw new ApiException("Missing the required parameter 'powerid' when calling designContribpowerCompute1List(Async)");
        }
        
        // verify the required parameter 'p' is set
        if (p == null) {
            throw new ApiException("Missing the required parameter 'p' when calling designContribpowerCompute1List(Async)");
        }
        
        // verify the required parameter 'v' is set
        if (v == null) {
            throw new ApiException("Missing the required parameter 'v' when calling designContribpowerCompute1List(Async)");
        }
        
        // verify the required parameter 't' is set
        if (t == null) {
            throw new ApiException("Missing the required parameter 't' when calling designContribpowerCompute1List(Async)");
        }
        

        okhttp3.Call localVarCall = designContribpowerCompute1ListCall(designid, powerid, p, v, t, _callback);
        return localVarCall;

    }

    /**
     * 
     * Get device data
     * @param designid  (required)
     * @param powerid  (required)
     * @param p Process name (required)
     * @param v Voltage (required)
     * @param t Temperature (required)
     * @return ComputedContributorPower1
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ComputedContributorPower1 designContribpowerCompute1List(Integer designid, Integer powerid, String p, BigDecimal v, Integer t) throws ApiException {
        ApiResponse<ComputedContributorPower1> localVarResp = designContribpowerCompute1ListWithHttpInfo(designid, powerid, p, v, t);
        return localVarResp.getData();
    }

    /**
     * 
     * Get device data
     * @param designid  (required)
     * @param powerid  (required)
     * @param p Process name (required)
     * @param v Voltage (required)
     * @param t Temperature (required)
     * @return ApiResponse&lt;ComputedContributorPower1&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ComputedContributorPower1> designContribpowerCompute1ListWithHttpInfo(Integer designid, Integer powerid, String p, BigDecimal v, Integer t) throws ApiException {
        okhttp3.Call localVarCall = designContribpowerCompute1ListValidateBeforeCall(designid, powerid, p, v, t, null);
        Type localVarReturnType = new TypeToken<ComputedContributorPower1>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get device data
     * @param designid  (required)
     * @param powerid  (required)
     * @param p Process name (required)
     * @param v Voltage (required)
     * @param t Temperature (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerCompute1ListAsync(Integer designid, Integer powerid, String p, BigDecimal v, Integer t, final ApiCallback<ComputedContributorPower1> _callback) throws ApiException {

        okhttp3.Call localVarCall = designContribpowerCompute1ListValidateBeforeCall(designid, powerid, p, v, t, _callback);
        Type localVarReturnType = new TypeToken<ComputedContributorPower1>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for designContribpowerComputeList
     * @param designid  (required)
     * @param powerid  (required)
     * @param p Process name (required)
     * @param v Voltage (required)
     * @param t Temperature (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerComputeListCall(Integer designid, Integer powerid, String p, BigDecimal v, Integer t, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/design/{designid}/contribpower/{powerid}/compute/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()))
            .replaceAll("\\{" + "powerid" + "\\}", localVarApiClient.escapeString(powerid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (p != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("p", p));
        }

        if (v != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("v", v));
        }

        if (t != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("t", t));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call designContribpowerComputeListValidateBeforeCall(Integer designid, Integer powerid, String p, BigDecimal v, Integer t, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling designContribpowerComputeList(Async)");
        }
        
        // verify the required parameter 'powerid' is set
        if (powerid == null) {
            throw new ApiException("Missing the required parameter 'powerid' when calling designContribpowerComputeList(Async)");
        }
        
        // verify the required parameter 'p' is set
        if (p == null) {
            throw new ApiException("Missing the required parameter 'p' when calling designContribpowerComputeList(Async)");
        }
        
        // verify the required parameter 'v' is set
        if (v == null) {
            throw new ApiException("Missing the required parameter 'v' when calling designContribpowerComputeList(Async)");
        }
        
        // verify the required parameter 't' is set
        if (t == null) {
            throw new ApiException("Missing the required parameter 't' when calling designContribpowerComputeList(Async)");
        }
        

        okhttp3.Call localVarCall = designContribpowerComputeListCall(designid, powerid, p, v, t, _callback);
        return localVarCall;

    }

    /**
     * 
     * Get device data
     * @param designid  (required)
     * @param powerid  (required)
     * @param p Process name (required)
     * @param v Voltage (required)
     * @param t Temperature (required)
     * @return ComputedContributorPower
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ComputedContributorPower designContribpowerComputeList(Integer designid, Integer powerid, String p, BigDecimal v, Integer t) throws ApiException {
        ApiResponse<ComputedContributorPower> localVarResp = designContribpowerComputeListWithHttpInfo(designid, powerid, p, v, t);
        return localVarResp.getData();
    }

    /**
     * 
     * Get device data
     * @param designid  (required)
     * @param powerid  (required)
     * @param p Process name (required)
     * @param v Voltage (required)
     * @param t Temperature (required)
     * @return ApiResponse&lt;ComputedContributorPower&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ComputedContributorPower> designContribpowerComputeListWithHttpInfo(Integer designid, Integer powerid, String p, BigDecimal v, Integer t) throws ApiException {
        okhttp3.Call localVarCall = designContribpowerComputeListValidateBeforeCall(designid, powerid, p, v, t, null);
        Type localVarReturnType = new TypeToken<ComputedContributorPower>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get device data
     * @param designid  (required)
     * @param powerid  (required)
     * @param p Process name (required)
     * @param v Voltage (required)
     * @param t Temperature (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerComputeListAsync(Integer designid, Integer powerid, String p, BigDecimal v, Integer t, final ApiCallback<ComputedContributorPower> _callback) throws ApiException {

        okhttp3.Call localVarCall = designContribpowerComputeListValidateBeforeCall(designid, powerid, p, v, t, _callback);
        Type localVarReturnType = new TypeToken<ComputedContributorPower>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for designContribpowerCreate
     * @param designid  (required)
     * @param data  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Issue with input data, error message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerCreateCall(Integer designid, ContribPower data, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = data;

        // create path and map variables
        String localVarPath = "/design/{designid}/contribpower/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call designContribpowerCreateValidateBeforeCall(Integer designid, ContribPower data, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling designContribpowerCreate(Async)");
        }
        
        // verify the required parameter 'data' is set
        if (data == null) {
            throw new ApiException("Missing the required parameter 'data' when calling designContribpowerCreate(Async)");
        }
        

        okhttp3.Call localVarCall = designContribpowerCreateCall(designid, data, _callback);
        return localVarCall;

    }

    /**
     * 
     * Create a new contributor power
     * @param designid  (required)
     * @param data  (required)
     * @return ContribPower
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Issue with input data, error message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ContribPower designContribpowerCreate(Integer designid, ContribPower data) throws ApiException {
        ApiResponse<ContribPower> localVarResp = designContribpowerCreateWithHttpInfo(designid, data);
        return localVarResp.getData();
    }

    /**
     * 
     * Create a new contributor power
     * @param designid  (required)
     * @param data  (required)
     * @return ApiResponse&lt;ContribPower&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Issue with input data, error message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ContribPower> designContribpowerCreateWithHttpInfo(Integer designid, ContribPower data) throws ApiException {
        okhttp3.Call localVarCall = designContribpowerCreateValidateBeforeCall(designid, data, null);
        Type localVarReturnType = new TypeToken<ContribPower>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new contributor power
     * @param designid  (required)
     * @param data  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Issue with input data, error message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerCreateAsync(Integer designid, ContribPower data, final ApiCallback<ContribPower> _callback) throws ApiException {

        okhttp3.Call localVarCall = designContribpowerCreateValidateBeforeCall(designid, data, _callback);
        Type localVarReturnType = new TypeToken<ContribPower>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for designContribpowerDelete
     * @param designid  (required)
     * @param powerid  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerDeleteCall(Integer designid, Integer powerid, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/design/{designid}/contribpower/{powerid}/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()))
            .replaceAll("\\{" + "powerid" + "\\}", localVarApiClient.escapeString(powerid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call designContribpowerDeleteValidateBeforeCall(Integer designid, Integer powerid, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling designContribpowerDelete(Async)");
        }
        
        // verify the required parameter 'powerid' is set
        if (powerid == null) {
            throw new ApiException("Missing the required parameter 'powerid' when calling designContribpowerDelete(Async)");
        }
        

        okhttp3.Call localVarCall = designContribpowerDeleteCall(designid, powerid, _callback);
        return localVarCall;

    }

    /**
     * 
     * Delete a contributor power
     * @param designid  (required)
     * @param powerid  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public void designContribpowerDelete(Integer designid, Integer powerid) throws ApiException {
        designContribpowerDeleteWithHttpInfo(designid, powerid);
    }

    /**
     * 
     * Delete a contributor power
     * @param designid  (required)
     * @param powerid  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> designContribpowerDeleteWithHttpInfo(Integer designid, Integer powerid) throws ApiException {
        okhttp3.Call localVarCall = designContribpowerDeleteValidateBeforeCall(designid, powerid, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     *  (asynchronously)
     * Delete a contributor power
     * @param designid  (required)
     * @param powerid  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Deleted </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerDeleteAsync(Integer designid, Integer powerid, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = designContribpowerDeleteValidateBeforeCall(designid, powerid, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for designContribpowerList
     * @param designid  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerListCall(Integer designid, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/design/{designid}/contribpower/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call designContribpowerListValidateBeforeCall(Integer designid, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling designContribpowerList(Async)");
        }
        

        okhttp3.Call localVarCall = designContribpowerListCall(designid, _callback);
        return localVarCall;

    }

    /**
     * 
     * Get list of contributor powers
     * @param designid  (required)
     * @return List&lt;ContribPower&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
     </table>
     */
    public List<ContribPower> designContribpowerList(Integer designid) throws ApiException {
        ApiResponse<List<ContribPower>> localVarResp = designContribpowerListWithHttpInfo(designid);
        return localVarResp.getData();
    }

    /**
     * 
     * Get list of contributor powers
     * @param designid  (required)
     * @return ApiResponse&lt;List&lt;ContribPower&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<ContribPower>> designContribpowerListWithHttpInfo(Integer designid) throws ApiException {
        okhttp3.Call localVarCall = designContribpowerListValidateBeforeCall(designid, null);
        Type localVarReturnType = new TypeToken<List<ContribPower>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get list of contributor powers
     * @param designid  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerListAsync(Integer designid, final ApiCallback<List<ContribPower>> _callback) throws ApiException {

        okhttp3.Call localVarCall = designContribpowerListValidateBeforeCall(designid, _callback);
        Type localVarReturnType = new TypeToken<List<ContribPower>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for designContribpowerRead
     * @param designid  (required)
     * @param powerid  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerReadCall(Integer designid, Integer powerid, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/design/{designid}/contribpower/{powerid}/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()))
            .replaceAll("\\{" + "powerid" + "\\}", localVarApiClient.escapeString(powerid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call designContribpowerReadValidateBeforeCall(Integer designid, Integer powerid, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling designContribpowerRead(Async)");
        }
        
        // verify the required parameter 'powerid' is set
        if (powerid == null) {
            throw new ApiException("Missing the required parameter 'powerid' when calling designContribpowerRead(Async)");
        }
        

        okhttp3.Call localVarCall = designContribpowerReadCall(designid, powerid, _callback);
        return localVarCall;

    }

    /**
     * 
     * Get a contributor power
     * @param designid  (required)
     * @param powerid  (required)
     * @return ContribPower
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ContribPower designContribpowerRead(Integer designid, Integer powerid) throws ApiException {
        ApiResponse<ContribPower> localVarResp = designContribpowerReadWithHttpInfo(designid, powerid);
        return localVarResp.getData();
    }

    /**
     * 
     * Get a contributor power
     * @param designid  (required)
     * @param powerid  (required)
     * @return ApiResponse&lt;ContribPower&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ContribPower> designContribpowerReadWithHttpInfo(Integer designid, Integer powerid) throws ApiException {
        okhttp3.Call localVarCall = designContribpowerReadValidateBeforeCall(designid, powerid, null);
        Type localVarReturnType = new TypeToken<ContribPower>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get a contributor power
     * @param designid  (required)
     * @param powerid  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerReadAsync(Integer designid, Integer powerid, final ApiCallback<ContribPower> _callback) throws ApiException {

        okhttp3.Call localVarCall = designContribpowerReadValidateBeforeCall(designid, powerid, _callback);
        Type localVarReturnType = new TypeToken<ContribPower>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for designContribpowerUpdate
     * @param designid  (required)
     * @param powerid  (required)
     * @param data  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Issue with input data, error message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call designContribpowerUpdateCall(Integer designid, Integer powerid, ContribPower data, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = data;

        // create path and map variables
        String localVarPath = "/design/{designid}/contribpower/{powerid}/"
            .replaceAll("\\{" + "designid" + "\\}", localVarApiClient.escapeString(designid.toString()))
            .replaceAll("\\{" + "powerid" + "\\}", localVarApiClient.escapeString(powerid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Basic" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call designContribpowerUpdateValidateBeforeCall(Integer designid, Integer powerid, ContribPower data, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'designid' is set
        if (designid == null) {
            throw new ApiException("Missing the required parameter 'designid' when calling designContribpowerUpdate(Async)");
        }
        
        // verify the required parameter 'powerid' is set
        if (powerid == null) {
            throw new ApiException("Missing the required parameter 'powerid' when calling designContribpowerUpdate(Async)");
        }
        
        // verify the required parameter 'data' is set
        if (data == null) {
            throw new ApiException("Missing the required parameter 'data' when calling designContribpowerUpdate(Async)");
        }
        

        okhttp3.Call localVarCall = designContribpowerUpdateCall(designid, powerid, data, _callback);
        return localVarCall;

    }

    /**
     * 
     * Update a contributor power
     * @param designid  (required)
     * @param powerid  (required)
     * @param data  (required)
     * @return ContribPower
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Issue with input data, error message returned </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Not authorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not found </td><td>  -  </td></tr>
     </table>
     */
    public ContribPower designContribpowerUpdate(Integer designid, Integer powerid, ContribPower data) throws ApiException {
[...]
