openapi: 3.0.1
info:
  description: API
  title: PowerMeter API
  version: 2021.4.1
servers:
- url: https://thracesystems.com/api
security:
- Basic: []
paths:
  /compute/power/:
    post:
      description: Computes equation(s)
      operationId: compute_power
      requestBody:
        $ref: '#/components/requestBodies/ComputePower'
        content:
          application/json:
            schema:
              example:
                undefined: undefined
              properties:
                undefined:
                  type: string
              title: ComputePower
              type: object
        required: true
      responses:
        "200":
          content: {}
          description: Computed value(s) returned
        "400":
          content: {}
          description: Error. Message returned
        "500":
          content: {}
          description: Internal error
      tags:
      - compute
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/data/{uuid}/:
    post:
      description: Upload design data
      operationId: design_data_create
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              title: Data
              type: string
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "400":
          content: {}
          description: Bad request
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/:
    get:
      description: Get design
      operationId: design_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Design'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update design
      operationId: design_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Design'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Design'
          description: ""
        "400":
          content: {}
          description: Issue with inut data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/commit/:
    post:
      description: Commit a version
      operationId: design_commit_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignVersion'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignVersion'
          description: ""
        "400":
          content: {}
          description: Issue with input data, erro message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/computepower/:
    post:
      operationId: design_computepower_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: query
        name: process
        required: true
        schema:
          type: string
      - in: query
        name: rc
        required: true
        schema:
          type: string
      - in: query
        name: voltage
        required: true
        schema:
          type: number
      - in: query
        name: temperature
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PinState'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ComputedPower'
                type: array
          description: ""
        "400":
          content: {}
          description: Error. Message returned
        "403":
          content: {}
          description: Not authorized
        "500":
          content: {}
          description: Internal error
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/computepowerarc/:
    post:
      operationId: design_computepowerarc_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: query
        name: process
        required: true
        schema:
          type: string
      - in: query
        name: rc
        required: true
        schema:
          type: string
      - in: query
        name: voltage
        required: true
        schema:
          type: number
      - in: query
        name: temperature
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PinStateArc'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputedPowerArc'
          description: ""
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/contribpower/:
    get:
      description: Get list of contributor powers
      operationId: design_contribpower_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContribPower'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a new contributor power
      operationId: design_contribpower_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContribPower'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContribPower'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/contribpower/{powerid}/:
    delete:
      description: Delete a contributor power
      operationId: design_contribpower_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a contributor power
      operationId: design_contribpower_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContribPower'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a contributor power
      operationId: design_contribpower_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContribPower'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContribPower'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/contribpower/{powerid}/compute/:
    get:
      description: Get device data
      operationId: design_contribpower_compute_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      - description: Process name
        in: query
        name: p
        required: true
        schema:
          type: string
      - description: Voltage
        in: query
        name: v
        required: true
        schema:
          type: number
      - description: Temperature
        in: query
        name: t
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputedContributorPower'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/contribpower/{powerid}/compute1/:
    get:
      description: Get device data
      operationId: design_contribpower_compute1_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      - description: Process name
        in: query
        name: p
        required: true
        schema:
          type: string
      - description: Voltage
        in: query
        name: v
        required: true
        schema:
          type: number
      - description: Temperature
        in: query
        name: t
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputedContributorPower_1'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/dashboard/:
    get:
      description: Get a list of dashboards
      operationId: design_dashboard_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dashboard'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a dashboards
      operationId: design_dashboard_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ""
        "400":
          content: {}
          description: Bad request, error returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/dashboard/{dashboardid}/:
    delete:
      description: Delete a dashboards
      operationId: design_dashboard_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a dashboard
      operationId: design_dashboard_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a dashboards
      operationId: design_dashboard_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ""
        "400":
          content: {}
          description: Bad request, error returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/dashboard/{dashboardid}/access/:
    post:
      description: Update design dashboard access
      operationId: design_dashboard_access_create
      parameters:
      - in: path
        name: dashboardid
        required: true
        schema:
          type: string
      - in: path
        name: designid
        required: true
        schema:
          type: string
      - in: path
        name: projectid
        required: true
        schema:
          type: integer
      - in: path
        name: masterdesignid
        required: true
        schema:
          type: integer
      responses:
        "201":
          content: {}
          description: ""
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/dashboard/{dashboardid}/clone/:
    post:
      description: Clone a dashboard
      operationId: design_dashboard_clone_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/dashboard/{dashboardid}/column/:
    get:
      description: Get dashboard columns
      operationId: design_dashboard_column_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DashboardColumn'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a dashboard column
      operationId: design_dashboard_column_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardColumn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardColumn'
          description: ""
        "400":
          content: {}
          description: Bad request, error returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/dashboard/{dashboardid}/column/{columnid}/:
    delete:
      description: Delete a dashboard column
      operationId: design_dashboard_column_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      - in: path
        name: columnid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardColumn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardColumn'
          description: ""
        "400":
          content: {}
          description: Bad request, error returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
    get:
      description: Get a dashboard column
      operationId: design_dashboard_column_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      - in: path
        name: columnid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardColumn'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a dashboard column
      operationId: design_dashboard_column_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      - in: path
        name: columnid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardColumn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardColumn'
          description: ""
        "400":
          content: {}
          description: Bad request, error returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/dashboard/{dashboardid}/data/:
    get:
      description: Get a dashboard
      operationId: design_dashboard_data_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/dashboard/{dashboardid}/row/:
    get:
      description: Get dashboard rows
      operationId: design_dashboard_row_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DashboardRow'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a dashboard row
      operationId: design_dashboard_row_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardRow'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardRow'
          description: ""
        "400":
          content: {}
          description: Bad request, error returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/dashboard/{dashboardid}/row/{rowid}/:
    delete:
      description: Delete a dashboard column
      operationId: design_dashboard_row_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      - in: path
        name: rowid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardRow'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardRow'
          description: ""
        "400":
          content: {}
          description: Bad request, error returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
    get:
      description: Get a dashboard row
      operationId: design_dashboard_row_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      - in: path
        name: rowid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardRow'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a dashboard row
      operationId: design_dashboard_row_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      - in: path
        name: rowid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardRow'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardRow'
          description: ""
        "400":
          content: {}
          description: Bad request, error returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/dashboard/{dashboardid}/update/:
    get:
      description: Returns an array of [current, last update] times
      operationId: design_dashboard_update_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: string
      - in: path
        name: dashboardid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateData'
          description: ""
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/data/:
    get:
      description: Get design data
      operationId: design_data_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: query
        name: fields
        schema:
          type: string
      - in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DesignData'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/data/{dataid}/:
    delete:
      description: Delete design data
      operationId: design_data_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dataid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get design data
      operationId: design_data_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dataid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignData'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update design data
      operationId: design_data_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: dataid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignData'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignData'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/energy/:
    get:
      description: Get list of all pin powers
      operationId: design_energy_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: number
        schema:
          type: integer
      - description: Model corner name
        in: query
        name: process
        schema:
          type: string
      - description: RC corner name
        in: query
        name: rc
        schema:
          type: string
      - description: Voltage
        in: query
        name: voltage
        schema:
          type: number
      - description: Temperature
        in: query
        name: temperature
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedDesignPinEnergy'
          description: ""
        "403":
          content: {}
          description: Not authorized
      tags:
      - design
      x-accepts: application/json
    post:
      description: Add pin powers
      operationId: design_energy_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignPinEnergy'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DesignPinEnergy'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/ff/:
    get:
      description: Get list of ffs
      operationId: design_ff_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DesignFF'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a new ff
      operationId: design_ff_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignFF'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignFF'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/ff/{ffid}/:
    delete:
      description: Delete a ff
      operationId: design_ff_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: ffid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a ff
      operationId: design_ff_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: ffid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignFF'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a ff
      operationId: design_ff_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: ffid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignFF'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignFF'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/hierarchy/:
    get:
      description: Get hierarchy
      operationId: design_hierarchy_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Hier'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update hierarchy
      operationId: design_hierarchy_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hier'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Hier'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/hierarchy/group/:
    delete:
      description: Delete hierarchy groups
      operationId: api_design_hierarchy_delete_all
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "201":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create new hierarchy group
      operationId: design_hierarchy_group_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hier'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hier'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/hierarchy/group/{groupid}/:
    delete:
      description: Delete a hierarchy group
      operationId: design_hierarchy_group_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: groupid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update hierarchy group
      operationId: design_hierarchy_group_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: groupid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hier'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hier'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error messag ereturned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/instance/:
    delete:
      description: Delete all instances
      operationId: api_design_instance_delete_all
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get list of instances
      operationId: design_instance_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: number
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedInstance'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a new instance
      operationId: design_instance_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Instance'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
          description: ""
        "400":
          content: {}
          description: Issue with inout data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/instance/bulk/:
    post:
      description: Create a new instance
      operationId: design_instance_bulk_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: query
        name: return
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Instance'
              type: array
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Instance'
                type: array
          description: ""
        "400":
          content: {}
          description: Issue with inout data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/instance/{instanceid}/:
    delete:
      description: Delete instance
      operationId: design_instance_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: instanceid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a design
      operationId: design_instance_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: instanceid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update instance
      operationId: design_instance_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: instanceid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Instance'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
          description: ""
        "400":
          content: {}
          description: Issue with inut data
        "403":
          content: {}
          description: Not authoried
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/instance/{instanceid}/clone/:
    post:
      description: Clone an instance
      operationId: design_instance_clone
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: instanceid
        required: true
        schema:
          type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
          description: ""
        "403":
          content: {}
          description: not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/instance/{instanceid}/supply/:
    get:
      description: Get instance supplies
      operationId: design_instance_supply_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: instanceid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InstanceSupply'
                type: array
          description: ""
        "403":
          content: {}
          description: Not auhtorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    post:
      description: Update instance supplies
      operationId: design_instance_supply_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: instanceid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceSupply'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InstanceSupply'
                type: array
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/instance/{instanceid}/supply/{supplyid}/:
    get:
      description: Get an instance supply
      operationId: design_instance_supply_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: instanceid
        required: true
        schema:
          type: integer
      - in: path
        name: supplyid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceSupply'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update an instance supply
      operationId: design_instance_supply_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: instanceid
        required: true
        schema:
          type: integer
      - in: path
        name: supplyid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceSupply'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceSupply'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/instance/{instanceid}/updatemaster/{masterid}/:
    post:
      description: Update instance master
      operationId: design_instance_updatemaster_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: instanceid
        required: true
        schema:
          type: integer
      - in: path
        name: masterid
        required: true
        schema:
          type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Instance'
                type: array
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/instantiable/:
    get:
      description: Get list of designs that can be instantiated in the given design
      operationId: design_instantiable_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DesignMaster'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/latch/:
    get:
      description: Get list of latches
      operationId: design_latch_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DesignLatch'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a new latch
      operationId: design_latch_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignLatch'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignLatch'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/latch/{latchid}/:
    delete:
      description: Delete a latch
      operationId: design_latch_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: latchid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a latch
      operationId: design_latch_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: latchid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignLatch'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a latch
      operationId: design_latch_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: latchid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignLatch'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignLatch'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/leakagepower/:
    get:
      description: Get list of leakage powers
      operationId: design_leakagepower_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: number
        schema:
          type: integer
      - description: Model corner name
        in: query
        name: process
        schema:
          type: string
      - description: RC corner name
        in: query
        name: rc
        schema:
          type: string
      - description: Voltage
        in: query
        name: voltage
        schema:
          type: number
      - description: Temperature
        in: query
        name: temperature
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedLeakagePower'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a new leakage power
      operationId: design_leakagepower_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeakagePower'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeakagePower'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/leakagepower/{powerid}/:
    delete:
      description: Delete a parameter
      operationId: design_leakagepower_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a parameter
      operationId: design_leakagepower_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeakagePower'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a parameter
      operationId: design_leakagepower_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeakagePower'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeakagePower'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/mode/:
    delete:
      description: Delete design modes
      operationId: api_design_mode_delete_all
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get list of design modes
      operationId: design_mode_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Mode'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a new mode
      operationId: design_mode_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mode'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mode'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/mode/{modeid}/:
    delete:
      description: Delete a design mode
      operationId: design_mode_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: modeid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a design mode
      operationId: design_mode_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: modeid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mode'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a design mode
      operationId: design_mode_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: modeid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mode'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mode'
          description: ""
        "400":
          content: {}
          description: Issue with inut data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/mode/{modeid}/clone/:
    post:
      description: Clone a design mode
      operationId: design_mode_clone
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: modeid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mode'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/mode/{modeid}/power/:
    get:
      operationId: design_mode_power_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: modeid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: ""
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/mode/{modeid}/powerdistribution/:
    get:
      operationId: design_mode_powerdistribution_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: modeid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: ""
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/mode/{modeid}/supply/{supplyid}/computepower/:
    post:
      operationId: design_mode_supply_computepower_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: modeid
        required: true
        schema:
          type: integer
      - in: path
        name: supplyid
        required: true
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/ComputePower_1'
        content:
          application/json:
            schema:
              properties:
                waveform:
                  items:
                    $ref: '#/components/schemas/ComputePowerWaveform'
                  type: array
                equation:
                  type: string
                params:
                  properties: {}
                  type: object
                config:
                  $ref: '#/components/schemas/ComputePowerConfig'
              required:
              - config
              - params
              title: ComputePower
              type: object
        required: true
      responses:
        "200":
          content: {}
          description: Computed value(s) returned
        "400":
          content: {}
          description: Error. Message returned
        "500":
          content: {}
          description: Internal error
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/mode/{modeid}/supply/{supplyid}/computepowertable/:
    post:
      operationId: design_mode_supply_computepowertable_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: modeid
        required: true
        schema:
          type: integer
      - in: path
        name: supplyid
        required: true
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/ComputePower_2'
        content:
          application/json:
            schema:
              properties:
                undefined:
                  type: string
              title: ComputePower
              type: object
        required: true
      responses:
        "200":
          content: {}
          description: Computed value(s) returned
        "400":
          content: {}
          description: Error. Message returned
        "500":
          content: {}
          description: Internal error
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/mode/{modeid}/supplystate/:
    get:
      description: Get list of supply states per mode
      operationId: design_mode_supplystate_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: supplyid
        required: true
        schema:
          type: integer
      - in: path
        name: modeid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyModeState'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a supply state per mode
      operationId: design_mode_supplystate_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: supplyid
        required: true
        schema:
          type: integer
      - in: path
        name: modeid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplyModeState'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SupplyModeState'
                type: array
          description: ""
        "400":
          content: {}
          description: Issue with inut data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not allowed
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/parameter/:
    delete:
      description: Delete params
      operationId: api_design_parameter_delete_all
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get list of params
      operationId: design_parameter_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Param'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a new parameter
      operationId: design_parameter_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Param'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Param'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/parameter/{paramid}/:
    delete:
      description: Delete a parameter
      operationId: design_parameter_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: paramid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a parameter
      operationId: design_parameter_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: paramid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Param'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a parameter
      operationId: design_parameter_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: paramid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Param'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Param'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/parameter/{paramid}/clone/:
    post:
      description: Clode a mode param
      operationId: design_parameter_clone
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: paramid
        required: true
        schema:
          type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Param'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/permissions/:
    get:
      description: Get list of permissions
      operationId: design_permissions_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: ""
      tags:
      - design
      x-accepts: application/json
    put:
      description: Get list of permissions
      operationId: design_permissions_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: ""
      tags:
      - design
      x-accepts: application/json
  /design/{designid}/pin/:
    get:
      description: Get list of pins
      operationId: design_pin_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DesignPin'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a new pin
      operationId: design_pin_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignPin'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignPin'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/pin/{pinid}/:
    delete:
      description: Delete a pin
      operationId: design_pin_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a pin
      operationId: design_pin_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignPin'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a pin
      operationId: design_pin_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignPin'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignPin'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/pin/{pinid}/caps/:
    get:
      description: Get list of pin caps
      operationId: design_pin_caps_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      - description: Model corner name
        in: query
        name: process
        schema:
          type: string
      - description: RC corner name
        in: query
        name: rc
        schema:
          type: string
      - description: Voltage
        in: query
        name: voltage
        schema:
          type: number
      - description: Temperature
        in: query
        name: temperature
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PinCap'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a new pin cap
      operationId: design_pin_caps_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinCap'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinCap'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/pin/{pinid}/caps/{capid}/:
    delete:
      description: Delete a pin cap
      operationId: design_pin_caps_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      - in: path
        name: capid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a pin cap
      operationId: design_pin_caps_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      - in: path
        name: capid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinCap'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a pin power
      operationId: design_pin_caps_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      - in: path
        name: capid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinCap'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinCap'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/pin/{pinid}/energy/:
    get:
      description: Get list of pin powers
      operationId: design_pin_energy_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      - description: Model corner name
        in: query
        name: process
        schema:
          type: string
      - description: RC corner name
        in: query
        name: rc
        schema:
          type: string
      - description: Voltage
        in: query
        name: voltage
        schema:
          type: number
      - description: Temperature
        in: query
        name: temperature
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PinEnergy'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a new pin power
      operationId: design_pin_energy_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinEnergy'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinEnergy'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/pin/{pinid}/energy/{powerid}/:
    delete:
      description: Delete a pin power
      operationId: design_pin_energy_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a pin power
      operationId: design_pin_energy_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinEnergy'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a pin power
      operationId: design_pin_energy_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: pinid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinEnergy'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinEnergy'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/power/:
    get:
      description: Get list of powers
      operationId: design_power_list
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Power'
                type: array
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    post:
      description: Create a power
      operationId: design_power_create
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Power'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Power'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/power/{powerid}/:
    delete:
      description: Delete a power
      operationId: design_power_delete
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    get:
      description: Get a power
      operationId: design_power_read
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Power'
          description: ""
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-accepts: application/json
    put:
      description: Update a power
      operationId: design_power_update
      parameters:
      - in: path
        name: designid
        required: true
        schema:
          type: integer
      - in: path
        name: powerid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Power'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Power'
          description: ""
        "400":
          content: {}
          description: Issue with input data, error message returned
        "403":
          content: {}
          description: Not authorized
        "404":
          content: {}
          description: Not found
      tags:
      - design
      x-codegen-request-body-name: data
      x-contentType: application/json
      x-accepts: application/json
  /design/{designid}/restore/:
    post:
      description: Restore a design version as current version
[...]
